<!-- Logo -->
<a href="index2.html" class="logo">
    <span class="logo-mini"><b>MR</b>F</span>
    <span class="logo-lg"><b>Morfeu</b>.finance</span>
</a>

<nav class="navbar navbar-static-top" role="navigation">
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
    </a>
    <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">

            <li class="dropdown user user-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <img src="{{ asset('assets/dist/img/user2-160x160.jpg') }}" class="user-image" alt="User Image"/>
                    <span class="hidden-xs">{{ app.user.name }}</span>
                </a>
                <ul class="dropdown-menu">

                    <li class="user-header">
                        <img src="{{ asset('assets/dist/img/user2-160x160.jpg') }}" class="img-circle" alt="User Image" />
                        <p>
                            {{ app.user.name }}<br/>
                            {{ app.user.email }}
                        </p>
                    </li>

                    <!-- Menu Footer-->
                    <li class="user-footer">
                        <div class="pull-left">
                            <a href="{{ path('profile') }}" class="btn btn-default btn-flat">Perfil</a>
                        </div>

                        <div class="pull-right">
                            <a href="{{ path('login_logout') }}" class="btn btn-default btn-flat">Logout</a>
                        </div>
                    </li>
                </ul>
            </li>

        </ul>
    </div>
</nav>
