{% extends 'ThemeBundle::Base/base.html.twig' %}


{% block body %}

<section class="content-header">
    <h1>
        Pagamento
        <small>Detalhe de Pagamento {{ payment.paymentType.name }}</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><i class="fa fa-calendar"></i> Pagamentos</li>
        <li>{{ payment.paymentType.name }}</li>
        <li class="active">Detalhe</li>
    </ol>
</section>

<section class="invoice">
    <div class="row">
        <div class="col-xs-12">
            <h2 class="page-header">
                <i class="fa fa-globe"></i> {{ payment.name }}
                <small class="pull-right">Data da Compra: {{ payment.purchaseMadeAt|date("d/m/Y H:i") }}</small>
            </h2>
        </div>
    </div>

    <div class="row invoice-info">
        <div class="col-sm-6 invoice-col">
            <b>Pagamento efetuado em:</b>

            {% if payment.paymentMadeAt is defined and payment.paymentMadeAt is not null %}
            {{ payment.paymentMadeAt|date("d/m/Y") }} <br/>
            {% else %}
            Não efetuado <br/>
            {% endif %}

            <b>Data da Compra:</b> {{ payment.purchaseMadeAt|date("d/m/Y H:i") }}

            <b>Local: </b> {{ payment.local }} <br/>

            <b>Status: </b> {{ payment.statusComplete }} <br/>

            <b>Forma de Pagamento: </b> {{ payment.paymentForm.name }}<br>

            {% if payment.card is defined and payment.card is not null %}
            <b>Cartão Utilizado: </b> <a href="{{ path('card_edit', {id: payment.card.id}) }}">{{ payment.card.name }} - {{ payment.card.finalNumber }}</a> <br/>
            {% endif %}

            <b>Parcelas: </b> {{ payment.plotQuantity }} <br/>
        </div>
    </div>

    <div class="row">

        <div class="col-xs-12">
            {% if payment.description is defined and payment.description is not null %}
            <h2>Descrição</h2>
            <p class="text-muted well well-sm no-shadow" style="margin-top: 10px;">
                {{ payment.description }}
            </p>
            {% endif %}
        </div>

        <div class="col-xs-12">
            <p class="lead">Compra efetuada em: {{ payment.purchaseMadeAt|date("d/m/Y H:i") }}</p>
            <div class="table-responsive">
                <table class="table">
                    <tbody>
                        <tr>
                            <th>Total:</th>
                            <td>R$ {{ payment.price|number_format(2, '.', ',') }}</td>
                        </tr>
                    </tbody></table>
                </div>
            </div>
        </div>

        <div class="row no-print">
            <div class="col-xs-12">
                <a class="btn btn-default" target="_blank" href="{{ path('payment_print', {'id': payment.id}) }}"><i class="fa fa-print"></i> Imprimir</a>
                <a href="javascript: history.go(-1)" class="btn btn-default"> Voltar</a>
            </div>
        </div>
    </section>


    <section class="invoice">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="page-header">
                    <i class="fa fa-file"></i> Anexos
                    <small class="pull-right">Arquivos vinculados</small>
                </h2>
            </div>
        </div>

        <div class="row invoice-info">
            {% if attachment is defined and attachment is not empty %}
            <p>Total de arquivos: {{ attachment|length }}
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <td>#</td>
                            <td>Nome</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        {% set count = 1 %}
                        {% for entity in attachment %}
                        <tr>
                            <td>{{ count }}.</td>
                            <td>
                                <a href="{{ entity.getImageCompleteToBrowser(entity.file) }}" target="_blank">
                                    {{ entity.file }}
                                </a>
                            </td>
                        </tr>
                        {% set count = count + 1 %}
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <p>Nenhum arquivo adicionado.</p>
                {% endif %}

            </div>

        </section>

        <div class="clearfix"></div>
        {% endblock %}
