{% extends 'ThemeBundle::Base/base.html.twig' %}


{% block body %}

<section class="content-header">
    <h1>
        Pagamentos
        <small>efetuados</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><i class="fa fa-calendar"></i> Pagamentos</li>
        <li class="active">Efetuados</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-3">

            <a href="{{ path('payment_new') }}" class="btn btn-primary btn-block margin-bottom">Inserir novo</a>

            <div class="box box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">Pagamentos</h3>
                    <div class="box-tools">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body no-padding">
                    <ul class="nav nav-pills nav-stacked">
                        <li class="active">
                            <a href="{{ path('payment_accomplished') }}"><i class="fa fa-inbox"></i> Efetuados</a>
                        </li>
                        <li><a href="{{ path('payment_received') }}"><i class="fa fa-envelope-o"></i> Recebidos</a></li>
                    </ul>
                </div>
            </div>

        </div>

        <div class="col-md-9">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Listagem</h3>
                </div>

                <div class="box-body no-padding">
                    {% if entities is defined and entities is not empty %}
                    <div class="table-responsive mailbox-messages">
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr>
                                    <td>#</td>
                                    <td>Data da Compra</td>
                                    <td>Título</td>
                                    <td>Valor</td>
                                    <td>Status</td>
                                    <td></td>
                                </tr>
                            </thead>
                            <tbody>
                                {% set count = 1 %}
                                {% set total = 0 %}
                                {% for entity in entities %}
                                <tr>
                                    <td>{{ count }}.</td>
                                    <td>{{ entity.purchaseMadeAt|date("d/m/Y H:i") }}</td>
                                    <td>{{ entity.name }}</td>
                                    <td>R$ {{ entity.price|number_format(2, '.', ',') }}</td>
                                    <td>{{ entity.statusComplete }}</td>
                                    <td>
                                        <a href="{{ path('payment_edit', {'id': entity.id}) }}" class="btn-sm btn-success">Editar</a>
                                        <a href="{{ path('payment_detail', {'id': entity.id}) }}" class="btn-sm btn-primary">Detalhes</a>
                                        <a href="{{ path('payment_delete', {'id': entity.id}) }}" class="btn-sm btn-danger">Deletar</a>
                                    </td>
                                </tr>
                                {% set count = count+1 %}
                                {% set total = total + entity.price %}
                                {% endfor %}
                                <tr>
                                    <td colspan="3">Total:</td>
                                    <td colspan="3">R$ {{ total|number_format(2, '.', ',') }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    {% else %}
                    <div class="table-responsive mailbox-messages">
                        <p style="padding: 10px;">Nenhum registro encontrado.</p>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
